[submodule "lib/ArduinoJson"]
	path = lib/ArduinoJson
	url = https://github.com/bblanchon/ArduinoJson.git
[submodule "lib/LinkedList"]
	path = lib/LinkedList
	url = https://github.com/ivanseidel/LinkedList
[submodule "lib/ethernet_shield_w5200"]
	path = lib/ethernet_shield_w5200
	url = https://github.com/seeed-studio/ethernet_shield_w5200
[submodule "lib/Adafruit-PWM-Servo-Driver-Library"]
	path = lib/Adafruit-PWM-Servo-Driver-Library
	url = git://github.com/adafruit/Adafruit-PWM-Servo-Driver-Library
